*.jpg
*.jpeg
*.png
*.zip
*.csv
DownloadedImages
Datasets
Dall-E
FairFace
Old_Unused_Files
Papers
ReportImages
StableDiffusion
TrainedModels
runs
kaggle.json
FYP_Files_Not_On_Github



!Generative_Retrieved_Images/*
!University-of-Malta.png